{% extends 'hello/basic.html' %}
{% block body %}
<div class="container" style="margin-top: 50px">
	<ul class="list-group">
  <li class="list-group-item"><a href="/hello/customize/{{title}}/2">Customize trip to {{title}} for 2 days</a></li>
  <li class="list-group-item"><a href="/hello/customize/{{title}}/3">Customize trip to {{title}} for 3 days</a></li>
  <li class="list-group-item"><a href="/hello/customize/{{title}}/4">Customize trip to {{title}} for 4 days</a></li>
  <li class="list-group-item"><a href="/hello/customize/{{title}}/5">Customize trip to {{title}} for 5 days</a></li>
  <li class="list-group-item"><a href="/hello/customize/{{title}}/6">Customize trip to {{title}} for 6 days</a></li>
  <li class="list-group-item"><a href="/hello/customize/{{title}}7">Customize trip to {{title}} for 7 days</a></li>
</ul>
</div>
{% endblock %}